

<div class="about-page">
    <h2>Acerca de Mi</h2>
    <p>Bienvenido a Mi Angular.</p>
    <p>Soy Francisco Carmona estudiante del Grado Superior de Desarrollo de aplicación Multiplataforma En IES Francisco De Los Rios</p>

</div>

<div class="about-page">
    <h2>Sobre La App</h2>
    <p>Descripcion</p>
    <p>Es una aplicación en la cual se pueden guardar notas editarlas y eliminarlas, en la cual se inicia sesion por el gmal de gooogle.</p>
    <p>Las notas las puedes guardar ya que contamos con un servicio de base de datos para el guardado editado y eliminado de notas.</p>
    
</div>

<div class="about-page">
    <h2>Icono</h2>
    <img width="200" src="assets/icons/Notea.png">
</div>

<div class="about-page">
    <a href="https://github.com/fcar16/Notea" target="_blank">
        <h2>https://github.com/fcar16/Notea</h2>
      </a>
</div>

  
  